$opacity: .5;
$font: 'Raleway';

$tamaño: (
    "cuerpo": 1rem,
    "h3": 150%,
    "h2": 200%,
    "h1": 300%,
);

$peso: (
    "cuerpo": 300,
    "h3": 500,
    "h2": 700,
    "h1": 900
);



//COLORES//////////////////////////////
$background1: #eff6ee;
$background2: #2e933c;