:root{
    --base:1600;
    --tbase:calc(var(--base) * 1px);;
    --tcolumna:calc(var(--base) / 12);
    --pcolumna:calc(var(--tcolumna)/var(--base)*100%);
}

*{
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    max-width: var(--tbase);
    margin: 0 auto;
}

.row {
    clear: both;
}

.col-1 {
    float: left;
    width: calc(var(--pcolumna) * 1);
}
.col-2 {
    float: left;
    width: calc(var(--pcolumna) * 2);
}
.col-3 {
    float: left;
    width: calc(var(--pcolumna) * 3);
}
.col-4 {
    float: left;
    width: calc(var(--pcolumna) * 4);
}
.col-5 {
    float: left;
    width: calc(var(--pcolumna) * 5);
}
.col-6 {
    float: left;
    width: calc(var(--pcolumna) * 6);
}
.col-7 {
    float: left;
    width: calc(var(--pcolumna) * 7);
}
.col-8 {
    float: left;
    width: calc(var(--pcolumna) * 8);
}
.col-9 {
    float: left;
    width: calc(var(--pcolumna) * 9);
}
.col-10 {
    float: left;
    width: calc(var(--pcolumna) * 10);
}
.col-11 {
    float: left;
    width: calc(var(--pcolumna) * 11);
}
.col-12 {
    float: left;
    width: calc(var(--pcolumna) * 12);
}

.ml-1 {
    margin-left: calc(var(--pcolumna) * 1);
}
.ml-2 {
    margin-left: calc(var(--pcolumna) * 2);
}
.ml-3 {
    margin-left: calc(var(--pcolumna) * 3);
}
.ml-4 {
    margin-left: calc(var(--pcolumna) * 4);
}
.ml-5 {
    margin-left: calc(var(--pcolumna) * 5);
}
.ml-6 {
    margin-left: calc(var(--pcolumna) * 6);
}
.ml-7 {
    margin-left: calc(var(--pcolumna) * 7);
}
.ml-8 {
    margin-left: calc(var(--pcolumna) * 8);
}
.ml-9 {
    margin-left: calc(var(--pcolumna) * 9);
}
.ml-10 {
    margin-left: calc(var(--pcolumna) * 10);
}
.ml-11 {
    margin-left: calc(var(--pcolumna) * 11);
}
.ver {
    display: block;
}
.nover {
    display: none;
}


@media screen and (min-width:768px) {

    .col-sm-1 {
        float: left;
        width: calc(var(--pcolumna) * 1);
    }
    .col-sm-2 {
        float: left;
        width: calc(var(--pcolumna) * 2);
    }
    .col-sm-3 {
        float: left;
        width: calc(var(--pcolumna) * 3);
    }
    .col-sm-4 {
        float: left;
        width: calc(var(--pcolumna) * 4);
    }
    .col-sm-5 {
        float: left;
        width: calc(var(--pcolumna) * 5);
    }
    .col-sm-6 {
        float: left;
        width: calc(var(--pcolumna) * 6);
    }
    .col-sm-7 {
        float: left;
        width: calc(var(--pcolumna) * 7);
    }
    .col-sm-8 {
        float: left;
        width: calc(var(--pcolumna) * 8);
    }
    .col-sm-9 {
        float: left;
        width: calc(var(--pcolumna) * 9);
    }
    .col-sm-10 {
        float: left;
        width: calc(var(--pcolumna) * 10);
    }
    .col-sm-11 {
        float: left;
        width: calc(var(--pcolumna) * 11);
    }
    .col-sm-12 {
        float: left;
        width: calc(var(--pcolumna) * 12);
    }
    .ver-sm {
        display: block;
    }
    .nover-sm {
        display: none;
    }

}

@media screen and (min-width:992px) {

    .col-md-1 {
        float: left;
        width: calc(var(--pcolumna) * 1);
    }
    .col-md-2 {
        float: left;
        width: calc(var(--pcolumna) * 2);
    }
    .col-md-3 {
        float: left;
        width: calc(var(--pcolumna) * 3);
    }
    .col-md-4 {
        float: left;
        width: calc(var(--pcolumna) * 4);
    }
    .col-md-5 {
        float: left;
        width: calc(var(--pcolumna) * 5);
    }
    .col-md-6 {
        float: left;
        width: calc(var(--pcolumna) * 6);
    }
    .col-md-7 {
        float: left;
        width: calc(var(--pcolumna) * 7);
    }
    .col-md-8 {
        float: left;
        width: calc(var(--pcolumna) * 8);
    }
    .col-md-9 {
        float: left;
        width: calc(var(--pcolumna) * 9);
    }
    .col-md-10 {
        float: left;
        width: calc(var(--pcolumna) * 10);
    }
    .col-md-11 {
        float: left;
        width: calc(var(--pcolumna) * 11);
    }
    .ver-md {
        display: block;
    }
    .nover-md {
        display: none;
    }

}
