@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import 'variables';

html{
    max-width: $max-width;
    margin: $default-margin auto;
}

body{
    font: $cuerpo
}

h {
    &1{
        font: map-get($font-weights, "bold") map-get($font-sizes, quote(#{&})) $font-family
    }

    &2{
        font: map-get($font-weights, "bold") map-get($font-sizes, quote(#{&})) $font-family
    }
    
    &3{
        font: map-get($font-weights, "bold") map-get($font-sizes, quote(#{&})) $font-family
    }
}
a {
    text-decoration: none;
    color: $default-foreground;
}

//HEADER///////////////////////////////////////////////////////////////

header{
    text-align: center;
    background-color: $default-background;
    padding: 0.5em;

    img{
        width: 10%;
        float: left;
    }

    h1, h2{
        width: 90%;
        margin: $default-margin;
    }
}

//NAV////////////////////////////////////////////////////////////////////

nav{
    background-color: $default-background;
    text-align: center;
    text-transform: uppercase;

    ul{
        list-style: none;
        margin: $default-margin;

        li{
            display: inline-block;
            margin: $default-margin;
            font: map-get($font-weights, "bold") map-get($font-sizes, "nav ul li") $font-family;

            a{
                font-weight: map-get($font-weights, "regular");
                margin: 5px;

                &:hover{
                    text-decoration: underline;
                    font-weight: map-get($font-weights, "bold");
                }
            }
            
        }
    }
}

//SECTION/////////////////////////////////////////////////////////////////////

section{
    min-height: 20em;;
}

//FOOTER//////////////////////////////////////////////////////////////////////

footer{
    text-align: center;
    div{
        background-color: $default-background;
        margin-bottom: 5px;

        img{
            width: 3em;
        }
    }

    p{
        background-color: $default-background;
        margin: $default-margin;
        padding: 5px;
        font: map-get($font-weights, "light") map-get($font-sizes, "footer") $font-family;

        & a:hover {
            text-decoration: underline;
            font-weight: map-get($font-weights, "bold");
        }
    }
}